/* Normalize */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}
a, a:hover, a:active {
    text-decoration: none;
}

/* TAGS */
html {
    font-size: 10px;
}
  
/* CLASSES */
.wrapper {    
    width: 1280px;
    margin: 0 auto;
}

/* Navigation bar */
.nav-bar {    
    height: 80px;
    text-align: center;
}
.nav-btn-wrap {
    display: inline-block;
    margin: 29px 20px;
}
.nav-btn {    
    text-transform: uppercase;
    font-size: 1.8rem;    
    letter-spacing: 2.7px;
    font-weight: 900;
    color: #16A085;
    font-family: 'Roboto', sans-serif; 
}

/* Section - Main */
.main {
    width: 100%;
    text-align: center;    
}
.main-img {
    max-width: 100%;
}

/* Section - Content */
.content {
    background-color: #f5f6f7;
    text-align: center;
}
.content-text-wrap {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0 20px 0;
}
.content-text-title {
    text-transform: uppercase;
    font-size: 2.2rem;
    letter-spacing: 3.3px;
    font-weight: 900;
    color: #373737;
    font-family: 'Roboto', sans-serif; 
}
.content-text {
    margin-top: 30px;
    line-height: 26px; 
    font-size: 1.6rem;
    letter-spacing: 2.4px;
    font-weight: 900;
    color: #373737;
    font-family: 'Roboto', sans-serif; 
}
.btn {
    display: inline-block;
    padding: 24px 46px;
    background-color: #16A085;
    border-radius: 3px;
    font-family: 'Gotham Rounded Bold', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.2rem;    
    font-weight: 700;
    letter-spacing: 1.8px;
    user-select: none; 
}
.get-start {
    margin: 20px 0 80px 0;
}

/* Footer */
.footer {
    padding: 45px 110px;
}
.copyright {    
    text-align: right;
    font-size: 1.6rem;
    letter-spacing: 2.4px;
    font-weight: 900;
    color: #373737;
    font-family: 'Roboto', sans-serif; 
}

/* Fonts */
@font-face {
    font-family: "Gotham Rounded Bold";
    src: url('../fonts/GothamRoundedBold_21016.ttf');
    font-style: normal;
    font-weight: bold;
}